body{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	align-items: center;
}
html{
	width: 100%;
	height: 100%;
	background-image: url(back.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.name{
	display: block;
	border: 2px solid black;
	width: 300px;
	height: 30px;
	border-radius: 6px;
}
#move{
	display: flex;
	justify-content: center;
	background-color: orange;
	height: 400px;
	width: 400px;
	border-radius: 10px;
}
#btn{
	display: flex;
	justify-content: center;	
	background-color: rgb(66, 144, 245);
	color: white;
	border: 4px solid rgb(66, 144, 245);
	border-radius: 6px;
	height: 30px;
	font-size: 20px;
}
#id{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#icone-cadastro{
	height: 100px;
	width: 100px;
	position: relative;
	left: 105px;
	bottom: 28px;
}
#register-name{
	text-transform: uppercase;
	position: relative;
	left: 70px;
	font-family: "Open Sans Condensed";
	font-size: 50px;
}
